/* Newly added element */

@-webkit-keyframes new {
  1% {
    box-shadow: 0 0px 3px rgba($blue, 0.2);
    border-color: $blue;
  }
}

@-moz-keyframes new {
  1% {
    box-shadow: 0 0px 3px rgba($blue, 0.2);
    border-color: $blue;
  }
}

@-ms-keyframes new {
  1% {
    box-shadow: 0 0px 3px rgba($blue, 0.2);
    border-color: $blue;
  }
}

@-o-keyframes new {
  1% {
    box-shadow: 0 0px 3px rgba($blue, 0.2);
    border-color: $blue;
  }
}

@keyframes new {
  1% {
    box-shadow: 0 0px 3px rgba($blue, 0.2);
    border-color: $blue;
  }
}

@mixin new($delay) {
  -webkit-animation: new $delay linear;
  -moz-animation: new $delay linear;
  -ms-animation: new $delay linear;
  -o-animation: new  $delay linear;
  animation: new $delay linear;
}

.empty {
  background: $light;
  border-radius: $radius;
  padding: 1.5*$gutter/2;
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  margin-bottom: $gutter;
  padding: 0;
  .item {
    border-radius: $radius;
    border-top-width: 0;
    &:first-child {
      border-radius: $radius $radius 0 0;
      border-top-width: 1px;
    }
    &:last-child {
      border-radius: 0 0 $radius $radius;
    }
    &.new {
      @include new(4s);
    }
  }
}

.item {
  border: 1px solid $line;
  border-radius: $radius;
  padding: 0;
  @include transition-property(border);
  @include transition-duration(0.2s);
  &:hover {
    border-color: shade($line, 15%);
    & + .item {
      border-top-color: shade($line, 15%);
    }
  }
  &.active {
    .body {
      display: block;
    }
  }

  .header {
    height: 5.2rem; /* HACK */
    h3,
    h4 {
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 1.5*$gutter/2;
      img.avatar {
        border-radius: $radius;
        float: left;
        height: $gutter;
        margin-right: $gutter/2;
        width: $gutter;
      }
      strong {
        color: $black;
        font-weight: normal;
      }
      select {
        margin-top: -6px; /* HACK */
      }
      input {
        margin-top: -6px; /* HACK */
      }
      .description {
        display: inline-block;
        margin-left: $gutter/4;
        margin-top: 0;
      }
    }
    .controls {
      .icon {
        margin: 1.5*$gutter/2;
        margin-bottom: $gutter/2;
        margin-left: 0;
        &.active {
          color: $blue;
        }
      }
      .button,
      .cancel {
        margin: $gutter/2 1.5*$gutter/2 0 0;
      }
    }
  }

  .actions {
    padding: $gutter/2 1.5*$gutter/2;
    img {
      border-radius: $radius;
      float: left;
      height: 1.5*$gutter + 2;
      margin-right: $gutter/4;
      vertical-align: middle;
    }
  }
  
  .body {
    background: $light;
    background-top: 1px solid $line;
    border-top: 1px solid shade($light, 5%);
    display: none;
    padding: 1.5*$gutter/2;
    input:not([type=submit]),
    textarea {
      background: #FFF;
    }
    > ul {
      list-style: none;
      margin: 0;
      > li {
        margin-bottom: $gutter;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
        p,
        ul {
          display: inline-block;
          margin: 0;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            margin-bottom: $gutter/4;
            padding: 0;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .actions {
      margin: -1.5*$gutter/2;
      margin-top: 0;
      .button,
      .cancel {
        margin-right: 1.5*$gutter/2;
      }
      .options {
        .button,
        .cancel {
          margin-left: 1.5*$gutter/2;
          margin-right: 0;
        }
      }
    }
  }
  &.editor {
    .header {
      border-bottom: 0;
    }
    .body {
      border: 1px solid shade($black, 10%);
      margin: 0 -1px;
      padding: 0;
    }
    .footer {
      border-top: 0;
    }
  }
}