@mixin button($color: $blue, $border: true) {
  background: $color;
  @include border-radius($radius);
  color: #FFF;
  display: inline-block;
  padding: 1.5*$gutter/4 1.5*$gutter/2;
  &:hover,
  &:focus {
    background: shade($color, 10%);
    outline: none;
    text-decoration: none;
  }
  &:active,
  &.active {
    background: tint($color, 10%);
    text-decoration: none;
  }
  @if $border == true {
    border: 1px solid shade($color, 10%);
  }
}

@mixin bundle($border: true) {
  @include border-radius(0);
  &:first-child {
    @include border-radius($radius 0 0 $radius);
  }
  &:last-child {
    @include border-radius(0 $radius $radius 0);
  } 
  @if $border == true {
    border-right-width: 0;
    &:first-child {
      &:hover,
      &:active,
      &.active {
        border-right-width: 1px;
        &+ a {
          border-left-width: 0;
        }
      }
    }
    &:last-child {
      border-right-width: 1px;
    }
  }
}